<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>RegistrationChecker</servlet-name>
        <servlet-class>controller.RegistrationChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginChecker</servlet-name>
        <servlet-class>controller.LoginChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deleteaccount</servlet-name>
        <servlet-class>controller.Deleteaccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cityupdate</servlet-name>
        <servlet-class>controller.Cityupdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Courseupdate</servlet-name>
        <servlet-class>controller.Courseupdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Levelupdate</servlet-name>
        <servlet-class>controller.Levelupdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mobileupdate</servlet-name>
        <servlet-class>controller.Mobileupdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Nameupdate</servlet-name>
        <servlet-class>controller.Nameupdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Passwordupdate</servlet-name>
        <servlet-class>controller.Passwordupdate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationChecker</servlet-name>
        <url-pattern>/RegistrationChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginChecker</servlet-name>
        <url-pattern>/LoginChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deleteaccount</servlet-name>
        <url-pattern>/Deleteaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cityupdate</servlet-name>
        <url-pattern>/Cityupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Courseupdate</servlet-name>
        <url-pattern>/Courseupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Levelupdate</servlet-name>
        <url-pattern>/Levelupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mobileupdate</servlet-name>
        <url-pattern>/Mobileupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Nameupdate</servlet-name>
        <url-pattern>/Nameupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Passwordupdate</servlet-name>
        <url-pattern>/Passwordupdate</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Registration.html</welcome-file>
    </welcome-file-list>
</web-app>
